header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #a283cb;
}

header a.logo {
    width: 150px;
}

header a.logo img {
    width: 100%;
    height: 100px;
}

header > .local-pesquisa {
    display: flex;
    justify-content: space-between;
    width: 350px;
    border: 1px solid #a283cb;
    border-radius: 30px;
}

header > .local-pesquisa input {
    text-align: center;
    font-size: 1.2em;
    border-radius: 30px;
}

header button:hover {
    cursor: pointer;
    background-color: #f35f52;
    border-radius: 50%;
}
header button:active {
    background-color: #a283cb;
}

header > a > span {
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    color: #f35f52;
    padding: 5px;
}

header > a > img {
    width: 25px;
    height: 25px;
}