body{
    font-family: 'Bebas Neue', cursive; 
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid var(--cor-principal--);
}

header a.logo {
    width: 150px;
}

header a.logo img {
    width: 100%;
    height: 100px;
}

header > .local-pesquisa {
    display: flex;
    justify-content: space-between;
    width: 300px;
    border: 1px solid var(--cor-principal--);
    border-radius: 30px;
}

header > .local-pesquisa input {
    text-align: center;
    font-size: 1.2em;
    border-radius: 30px;
}

header button:hover {
    cursor: pointer;
    background-color: var(--cor-secundaria--);
    border-radius: 50%;
}

header button:active {
    background-color: var(--cor-principal--);
}

header > a > span {
    font-weight: 700;
    color: var(--cor-secundaria--);
}

header > a > img {
    width: 25px;
    height: 25px;
}