
main{
    width: 80%;
    margin: 15px 0;
    background-color: #ffff;
    border: 1px solid #ac816a;
    font-family: 'Bebas Neue', cursive;
}
main div#cardapio{
    display: flex;
    flex-direction: column;
}
main div#cardapio > h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    font-weight: 700;
    color: #f35f52;
    text-align: center;
    margin: 30px 0;
    padding: 20px 0;
}
main div#cardapio ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 50px 50px;

}
main div#cardapio ul li img{
    width: 17%;
    height: 6%;
}
#cardapio ul li[data-produto]::before{
    content: attr(data-produto);
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 1px solid #000;
}
#cardapio ul li div#prato{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main div#cardapio ul li #prato p[data-price]::after{
    display: block;
    content: attr(data-price);
    color: #786196;
    font-weight: 700; 
    padding: 5px;
}