
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #ffff;
    border: 1px solid #ac816a;
    font-family: 'Bebas Neue', cursive;
    padding: 30px;
}

main > h2 {
    font-size: 2em;
    font-weight: 700;
    color: var(--cor-secundaria--);
    text-align: center;
    padding-bottom: 15px;
}
div.prato  {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

main > div.prato > h2 {
    font-size: 1.5em;
}

main div.prato p span img {
    width: 140px;
    object-fit: cover;
    object-position:center;
}

main div.prato p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main div.prato span[data-price]::after {
    display: block;
    content: attr(data-price);
    color: var(--cor-principal--);
    font-weight: 700; 
    padding: 5px;
}