
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffff;
    border: 1px solid #ac816a;
    font-family: 'Bebas Neue', cursive;
    padding: 30px;
}

main > h2 {
    font-size: 2em;
    font-weight: 700;
    color: #f35f52;
    text-align: center;
}
div.prato {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

main div.prato > h2 {
    font-size: 1.5em;

}

main div.prato p span img {
    width: 140px;
}

main div.prato p{

    
}
main div.prato p span{
    
}
main div.prato p[data-price]::after {
    display: block;
    content: attr(data-price);
    color: #786196;
    font-weight: 700; 
    padding: 5px;
}