@media only screen and (max-width: 664px) {
    header {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    header a.logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
    }
    
    header a.logo img {
        width: 150px;
    }
    
    header > .local-pesquisa {
        width: 400px;
        margin: 20px 0;
    }

    header > a > span {
    padding-right: 30px;
    }

   
}
@media only screen and (max-width: 497px){
    section{
        padding: 0;
        width: 100%;
    }
    main{
        display: flex;
        
    }
}
@media only screen and (max-width: 407px){
    header > .local-pesquisa {
        width: 320px;
    } 
}